body {
    background-color: rgb(21, 21, 21);
    font-family: Arial, Helvetica, sans-serif;
    width: 45em;
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 1.5rem;
    color: rgb(214, 214, 214);
}

a {
    color: inherit;
}

/* Homepage */
.recipelist {
    background-color: rgb(37, 37, 37);
    font-size: 1.5rem;
    line-height: 2.5em;
}

.home-redirect,.recipelist{
    color: lightcoral;
    font-weight: bold;
}

/* Recipe Description */
.description-para{
    line-height: 1.5em;
}

.description-para,.ingredients-list,.steps-list {
    font-size: 24px;
    color: rgb(183, 183, 183);  
    text-align: justify;
    text-justify:auto;
}

.ingredients-list {
    text-align: left;
    word-wrap: break-word;
}

.ingredients-list,.steps-list {
    line-height: 2.5em;
    background-color: rgb(37, 37, 37);
    padding: 1em 1em 1em 2em;
    
}

img {
    border-radius: 20px;
    max-height: 400px;
    width: auto;
    max-width: 100%;
}
